<html>
    <head>
        {% load static %}
        <script src="{% static "wallet/jquery.js" %}"></script>
        <script src="{% static "wallet/wallet.js" %}"></script>
    </head>

    <body>
        <div>
            Hello {{ user.username }}
        </div>
        <div>
            Balance: X<span id="xcoin-balance"></span>
        </div>
        <div>
            <input type="text" placeholder="Address" id="address" />
            <input type="number" placeholder="Amount" id="amount" />
            <span id="send-button">Send!</span>
        </div>

        <script>
            /* https://stackoverflow.com/questions/5100539/django-csrf-check-failing-with-an-ajax-post-request */
            $.ajaxSetup({ 
                beforeSend: function(xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                } 
            });

            queryBalance();
            $("#send-button").click(send);
        </script>
    </body>
</html>